* {
  margin: 0;
  padding: 0;
}

/* html, body, #root */
html {
  background-color: #E4D4C8;
}

.App {
  text-align: center;
}

#HomePage {
  /* background-color: #D0B49F; */
  /* Sand Dollar
    #E4D4C8
    Tan
    #D0B49F
    Brown
    #A47551
    Carafe
    #523A28 */
}